<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <!-- css -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/styleHome/styleHome.css">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Pattaya -->
        <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">

        <header>

            <span class="logo">Reviewr.com</span>

            <nav>
                <input type="checkbox" name="menu_checkbox" id="menu_checkbox">
                    <div class="menu_bar" id="bar1"></div>
                    <div class="menu_bar" id="bar2"></div>
                    <div class="menu_bar" id="bar3"></div>
                    
                    <div class="menu">
                        <ul class="menu_ul">
                            <li><a href="/login">Fazer Login</a></li>
                            <li><a href="add-new-review">Fazer Review</a></li>
                            <li><a href="reviews">Reviews</a></li>
                        </ul>
                    </div>
            </nav>

        </header>


        <main>

            <section>
                <h3>Crie Reviews sobre qualquer coisa.</h3>
                <img src="img/cartoon_celular.png" alt="" class="img_lead">
                <span class="logo" id="logo_hero">Reviewr.com</span>
            </section>


            <h2>Útimas Publicações</h2>
            <div id="box_main">

                <% for(let i = 0; i < reviews.length; i++){%>
                <div class="box_review">
                    <span id="span_autor"><%= reviews[i].autor %></span>
                    <a href="review?id=<%=reviews[i].id%>"><%= reviews[i].titulo_review %></a> 
                    <span id="span_produto"><%= reviews[i].tema %></span>
                </div>
                    <br>
                <%  }   %>

                <h1>Não há mais Publicações por aqui</h1>

            </div>

            <div class="rodape">
                <!-- <div id="cta"><a href="reviews">Ver Mais Reviews</a></div> -->
                <!-- <div id="create_post"><a href="/login">Criar Review</a></div> -->
            </div>

        </main>


        <footer>

        </footer>

    </div>
<script src="js/scriptHome/scriptHome.js"></script>
</body>
</html>