*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    background-color: #353b48;
}

/* Mobile */
@media only screen and (max-width: 480px){
    #container{
        height: 100vh;
        width: 100vw;
    }
    header{
        height: 13vh;
        width: 100vw;
        padding: 5vw;
        background-color: #9c88ff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        font-size: 1.5em;
        font-family: 'Pattaya', sans-serif;
    }
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #menu_checkbox{
        width: 3em;
        height: 3em;
        position: absolute;
        opacity: 0;
    }
    .menu_bar{
        height: 5px;
        width: 40px;
        background-color: white;
        border-radius: 5px;
    }
    #bar2{
        margin-top: 7px;
        margin-bottom: 7px;
    }
    #menu_checkbox:checked ~ #bar2{
        animation: toggle_menu .1s forwards;
    }
    @keyframes toggle_menu {
        100%{
            transform: translateX(-20px);
            opacity: 0;
        }
    }
    #menu_checkbox:checked ~ #bar1{
        animation: deg_bar1_menu .1s .2s forwards;
        transition: 1s ease-out;
        
    }
    #menu_checkbox:checked ~ #bar3{
        animation: deg_bar3_menu .1s .2s forwards;
        transition: 1s ease-out;
    }
    @keyframes deg_bar1_menu {
        100%{
            transform: rotate(45deg);
            position: absolute;
        }
    }
    @keyframes deg_bar3_menu {
        100%{
            transform: rotate(-45deg);
            position: absolute;
        }
    }
    .menu{
        height: 5vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        font-family: 'Roboto', sans-serif;
        color: #ecf0f1;
    }
    .menu_ul{
        display: flex;
        background-color: #5f27cd;
    }
    .menu_ul li{
        margin: 1em;
    }
    .menu_ul a{
        text-decoration: none;
        color: #ecf0f1;
    }
    #menu_checkbox:checked ~ .menu{
        animation: ani_menu 1s forwards;
        transition: 1s ease-out;
    }
    @keyframes ani_menu {
        50%{
            transform: translateY(10vh);
        }
        100%{
            transform: translateY(10vh);
            z-index: 1;
        }
    }
    main > h2{
        margin-left: 5vw;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 8vh;
    }
    .box_review{
        width: 90vw;
        height: 9em;
        margin: auto;
        padding: 1em;
        border-radius: 8px;
        background-color: #95a5a6;
        display: flex;
        flex-direction: column;
    }
    .box_review a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        justify-self: center;
    }
    .box_review span{
        color: #F5F6FA;
        font-size: 1.1rem;
        margin-top: .5em;
        /* margin-bottom: .5em; */
    }
    #span_produto{
        margin: 0px;
    }
    #box_main{
        margin-top: 3vh;
    }
    #cta, #create_post{
        border-radius: 15px;
        background-color: #9C88FF;
        height: 7vh;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        display: flex;
        margin-top: 5vh;
    }
    .rodape{
        display: flex;
    }
    #cta{
        width: 50vw;
        margin-left: 5vw;
    }
    #create_post{
        width: 35vw;
        margin-left: auto;
        margin-right: 5vw;
    }
    #cta a, #create_post a{
        color: white;
        text-align: center;
        margin: auto;
        text-decoration: none;
        font-weight: bold;
    }

    main > section{
        background-color: #2e86de;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .img_lead{
        width: 15em;
    }
}




/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 839px){
    #container{
        height: 100vmax;
        width: 100vmax;
        background-color: orange;
    }
}

/* Desktop */
@media only screen and (min-width: 840px) and (max-width: 1024px){
    #container{
        background-color: violet;
    }
}

/* Telas Maiores */
@media only screen and (min-width: 1025px){
    #container{
        background-color: green;
    }
}