/* Doc Styles */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* color: #ecf0f1; */
    /* background-color: #353b48; */
    background-color: #ced6e0;
}


/* Styles */
#container{
    height: 100%;
    width: 100vw;
}

/* img{
   width: 40%; 
} */

/* --- header --- */
header{
    height: 13vh;
    width: 100vw;

    padding: 5vw;
    top: 0em;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    background-color: #30b869;

    display: flex;
    position: sticky;
    overflow: visible;
}
.logotipo{
    font-size: 1.7em;
    font-family: 'Pattaya', sans-serif;
    color: #f1f2f6;
}
a{
    color: inherit;
    text-decoration: none;
}
/* --- Menu --- */
#menu_checkbox{
    width: 3em;
    height: 3em;

    position: absolute;
    z-index: 9;

    opacity: 0;
}
.menu_bar{
    height: 5px;
    width: 40px;

    background-color: white;

    border-radius: 5px;

    z-index: 8;

    transform-origin: 2px 2px;
    transition: transform 0.7s ease;
}
#bar2{
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Animação de menu icon */
#menu_checkbox:checked ~ #bar2{
    opacity: 0;
    transform: scale(0.2, 0.2);
    transition: transform 1s;
}
#menu_checkbox:checked ~ #bar1{
    transform: rotate(45deg);
    transition: transform 0.3s;
}
#menu_checkbox:checked ~ #bar3{
    transform: rotate(-45deg);
    transition: transform 0.3s;
}

.menu_ul{
    height: 80vh;
    width: 60vw;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;

    /* left: 100%; */
    left: 0;
    top: 0;

    background-color: #218c74;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu_ul div:last-child{
    position: absolute;
    bottom: 1em;
}

.menu_ul li{
    margin: 1em;
}
.menu_ul a{
    text-decoration: none;
    color: #ecf0f1;

    font-size: 1.2rem;
}

.menu_ul div{
    display: flex;
}
.menu_ul div > img{
    width: 25px;
}


/* --- Main --- */
/* Section - Main */
main > section{
    background-color: #16a085;

    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}
.img_lead{
    align-self: flex-end;
}
    /* #logo_hero {
        position: absolute;
        right: 8vw;
        bottom: 1em;

        font-size: 1.8rem;
    } */
section h3{
    width: 40vw;

    margin-left: 1em;

    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #f1f2f6;
}

#box_main{
    margin-top: 3vh;
}
main h2{
    margin-left: 5vw;
    margin-top: 8vh;
    margin-bottom: 3vh;

    font-family: 'Roboto Mono', monospace;
    color: #2f3542;
    font-size: 1.6rem;
    font-weight: bold;
}
/* Div Review */
.box_review{
    width: 90vw;
    min-height: 9em;
    margin: auto;

    padding: 1em;

    border-radius: 8px;

    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
}
.box_review a{
    color: #2d3436;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;

    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
}
.box_review span{
    color: #2f3542;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;

    margin-top: .5em;
}
.box_review span:last-child{
    margin: 0px;

    font-family: 'Roboto Mono', monospace;
}


/* --- footer --- */
.rodape{
    display: flex;
}
#create_post{
    width: 35vw;
    height: 7vh;

    margin-left: auto;
    margin-right: 5vw;
    right: 0;
    top: 90%;

    position: absolute;
    position: fixed;
    display: flex;

    border-radius: 15px;
    background-color: #30b869;

    font-family: 'Roboto Mono', 'Arial' monospace;
    color: #fff;
    
}
#create_post a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    margin: auto;
}


#final_msg{
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #636e72;
    background-color: #636e72;
}


/* -- Devices -- */

/* Mobile */
@media only screen and (max-width: 480px){
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    header{
        width: 100%;
    }
    #menu_vertical{
        display: none;
    }
    .menu_ul{
        height: 40vh;
        transform: translateX(-200%);
        transition: 0.5s ease-out;
        z-index: 5;

        border-radius: 0px 10px 10px 0px;
    }

    #modal_box{
        display: none;

        height: 100vh;
        width: 100vw;

        background-color: rgba(0, 0, 0, 0.25);
        
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
    }

    #menu_checkbox:checked ~ .menu ul{
        transform: translateX(0%);
    }
    #menu_checkbox:checked ~ #modal_box{
        display: block;
    }
    #menu_checkbox:checked ~ body{
        overflow: hidden;
    }

    section > img{
        width: 50%;
    }
}


/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 839px){
    .logotipo{
        font-size: 2.3rem;
    }
    #menu_vertical{
        height: 10vh;
        width: 50%;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu_ul_vertical{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    ul div{
        width: 100%;

        
        color: #f1f2f6;

        font-size: 1.4rem;
        text-align: center;
    }
    /* ul div:first-child{
        margin-right: 0;
        margin-left: 2em;
    } */
    ul div > img {
        margin-right: 10px;
    }
    #menu_hamburguer{
        display: none;
    }
    header{
        height: 10vh;
        width: 100%;
        padding-right: 0;
    }

    /* PAGINA INICIAL */
    #create_post a{
        font-size: 1.5rem;
    }
    section > img{
        width: 30%;
        margin-right: 1em;
    }
    section > h3{
        font-size: 2.3rem;
    }
    #box_main > h2{
        font-size: 2rem;
    }
    .box_review{
        min-height: 12em;
    }
    .box_review a{
        font-size: 1.7rem;
    }
    .box_review span{
        font-size: 1.4rem;
    }
}


/* Desktop */
@media only screen and (min-width: 840px) and (max-width: 1024px){
    header{
        width: 100%;
        height: 10vh;
    }

    .img_lead{
        width: 38%;
    }

    .logotipo{
        font-size: 2em;
        font-family: 'Pattaya', sans-serif;
    }

    nav .menu_bar, input{
        display: none;
    }
    .menu_ul{
        height: 100%;
        width: 70%;
    
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    
        position: absolute;
        top: 0;

        padding: 1em;

        font-size: 1.6rem;
    
        background-color: #30b869;
    }

    section h3{
        width: 35vw;
        font-size: 2.7rem;
    }
    #box_main{
        width: 60vw;

        display: flex;
        flex-direction: column;

        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }
    main h2{
        margin-top: 8vh;
        margin-left: 0;
        margin-bottom: 3vh;
    }
    .box_review{
        width: 100%;
        min-height: 9em;
        margin: auto;
    }

    #create_post{
        width: 15vw;        
    }
    
}


/* Telas Maiores */
@media only screen and (min-width: 1025px){
    header{
        width: 100%;
        height: 6vh;
    }

    .logotipo{
        font-size: 2.3em;
        font-family: 'Pattaya', sans-serif;
    }

    .img_lead{
        width: 38%;
    }

    nav .menu_bar, input{
        display: none;
    }
    .menu_ul{
        height: 100%;
        width: 70%;
    
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    
        position: absolute;
        top: 0;
        
        padding: 1em;

        font-size: 1.6rem;
    
        background-color: #30b869;
    }

    section h3{
        width: 35vw;
        font-size: 2.7rem;
    }
    #box_main{
        width: 60vw;

        display: flex;
        flex-direction: column;

        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }
    main h2{
        margin-top: 8vh;
        margin-left: 0;
        margin-bottom: 3vh;
    }
    .box_review{
        width: 100%;
        min-height: 9em;
        margin: auto;
    }

    #create_post{
        width: 15vw;        
    }
}