*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ecf0f1;
    /* background-color: #353b48; */
    background-color: #ced6e0;
}

/* Mobile */
@media only screen and (max-width: 480px){
    #container{
        height: 100vh;
        width: 100vw;
    }
    header{
        height: 13vh;
        width: 100vw;
        padding: 5vw;
        /* background-color: #9c88ff; */
        background-color: #30b869;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* position: fixed;
        z-index: 2; */
    }
    .logo{
        font-size: 1.7em;
        font-family: 'Pattaya', sans-serif;
    }
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #menu_checkbox{
        width: 3em;
        height: 3em;
        position: absolute;
        opacity: 0;
    }
    .menu_bar{
        height: 5px;
        width: 40px;
        background-color: white;
        border-radius: 5px;
        transform-origin: 2px 2px;
        transition: transform 0.7s ease;
    }
    #bar2{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #menu_checkbox:checked ~ #bar2{
        opacity: 0;
        transform: scale(0.2, 0.2);
        transition: transform 1s;
    }
    #menu_checkbox:checked ~ #bar1{
        transform: rotate(45deg);
        transition: transform 0.3s;
    }
    #menu_checkbox:checked ~ #bar3{
        transform: rotate(-45deg);
        transition: transform 0.3s;
    }

    .menu_ul{
        height: 35vh;
        width: 60vw;

        position: absolute;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        right: 0;
        top: 13vh;

        background-color: #218c74;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;

        transform: translateX(100%);
        transition: transform 1s ease-out;
        z-index: 1;
    }
    #menu_checkbox:checked ~ .menu ul{
        transform: none;
    }

    .menu_ul li{
        margin: 1em;
    }
    .menu_ul a{
        text-decoration: none;
        color: #ecf0f1;
    }


    /* .change_display{
        display: block;
        animation: ani_menu 1s forwards;
    } */

    /* #menu_checkbox:checked ~ .menu{
        display: block;
        transform: none;
        transition: 1s ease-out;
    } */
    
    /* @keyframes ani_menu {
        70%{
            display: none;
            transform: translateX(0vw);
            z-index: 100;
        }
        100%{
            display: block;
            transform: translateX(0vw);
            z-index: 100;
        }
    } */
    main > h2{
        margin-left: 5vw;
        font-family: 'Roboto', sans-serif;
        color: #2f3542;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 8vh;
    }
    .box_review{
        width: 90vw;
        min-height: 9em;
        margin: auto;
        padding: 1em;
        border-radius: 8px;
        background-color: #f1f2f6;
        display: flex;
        flex-direction: column;
    }
    .box_review a{
        color: #2f3542;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        justify-self: center;
    }
    .box_review span{
        color: #2f3542;
        font-size: 1.1rem;
        margin-top: .5em;
        /* margin-bottom: .5em; */
    }
    #span_produto{
        margin: 0px;
    }
    #box_main{
        margin-top: 3vh;
    }
    #cta, #create_post{
        border-radius: 15px;
        background-color: #30b869;
        height: 7vh;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        display: flex;
        /* margin-top: 3vh;
        margin-bottom: 4vh; */
    }
    .rodape{
        display: flex;
    }
    #cta{
        width: 50vw;
        margin-left: 5vw;
    }
    #create_post{
        width: 35vw;
        margin-left: auto;
        margin-right: 5vw;
        position: absolute;
        right: 0;
        top: 90%;
        position: fixed;
    }
    #cta a, #create_post a{
        color: white;
        text-align: center;
        margin: auto;
        text-decoration: none;
        font-weight: bold;
    }

    main > section{
        /* background-color: #2e86de; */
        background-color: #16a085;
        position: relative;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .img_lead{
        /* width: 15em; */
        width: 60vw;
        position: absolute;
        right: 0;
        top: 2em;
    }
    #logo_hero {
        position: absolute;
        font-size: 1.8rem;
        right: 8vw;
        bottom: 1em;
    }
    section h3{
        position: absolute;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        width: 40vw;
        top: 3em;
        left: 5vw;
        font-weight: 600;
    }
}




/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 839px){
    #container{
        height: 100vmax;
        width: 100vmax;
        background-color: orange;
    }
}

/* Desktop */
@media only screen and (min-width: 840px) and (max-width: 1024px){
    #container{
        background-color: violet;
    }
}

/* Telas Maiores */
@media only screen and (min-width: 1025px){
    #container{
        background-color: green;
    }
}