body{
    background-color: #f1f2f6;
}

header{
    height: 13vh;
    width: 100vw;

    padding: 5vw;
    top: 0em;
    align-items: center;
    justify-content: center;
    z-index: 2;

    background-color: #30b869;

    display: flex;
    position: sticky;
    overflow: visible;
}
.logotipo-error{
    font-size: 1.7em;
    font-family: 'Pattaya', sans-serif;

    text-align: center;
}
a{
    color: inherit;
    text-decoration: none;
}

.msg_main{
    display: flex;
    flex-direction: column;
}
.msg_main h1:first-child{
    font-size: 3.5rem;
    color: #2f3542;
}

@media screen and (max-width: 480px) {
    #main_error{
        padding-top: 3em;
        display: flex;
        justify-content: center;
    }
    .msg_main {
        width: 90%;
        justify-self: center;
        background-color: #DB918E;
        color: #f1f2f6;
        padding: 2em 1em 2em 1em;
    }

    .msg_main h1:first-child{
        font-size: 5rem;
        color: #f1f2f6;
    }
    .msg_main span:nth-child(2){
        font-size: 1.5rem;
        margin: 1em 0 1em 0;
    }
    .msg_main a:nth-child(3){
        font-size: 1.8rem;
        text-decoration: underline;
    }
}

@media screen and (min-width: 481px) and (max-width: 839px) {
    #main_error{
        padding-top: 3em;
        display: flex;
        justify-content: center;
    }
    .msg_main {
        width: 90%;
        justify-self: center;
        background-color: #DB918E;
        color: #f1f2f6;
        padding: 2em 1em 2em 1em;
    }

    .msg_main h1:first-child{
        font-size: 7rem;
        color: #f1f2f6;
    }
    .msg_main span:nth-child(2){
        font-size: 2rem;
        margin: 1em 0 1em 0;
    }
    .msg_main a:nth-child(3){
        font-size: 2.2rem;
        text-decoration: underline;
    }
}