#box_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
#box_user > img{
    width: 25%;
    margin-bottom: 1em;
}

main span{
    color: #2F3542;
}
main .msg_no-review{
    font-family: 'Roboto', monospace;
    color: #2f3542;
    font-size: 1.3rem;
}
#box_main > span:first-child{
    font-family: 'Roboto Mono', monospace;
    color: #2f3542;
}

#box_main div:nth-child(2){
    margin-top: 2em;
}
#box_main div:nth-child(3){
    margin-top: 1em;
}
#box_main a, #span_produto{
    font-family: 'Roboto Mono', monospace;
    color: #2f3542;
    /* font-size: 1.6rem; */
    font-weight: bold;
/* 
    margin-bottom: 0.5em; */
}
#span_produto{
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: initial;
}

@media only screen and (max-width: 480px){
    #box_user{
        padding-left: 0;
        display: flex;
        background-color: #2ecc71;
    }
    #box_user span{
        font-size: 1.5rem;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_main a{
        font-size: 1.4rem;
    }
    #span_produto{
        font-size: 1.2rem;
    }
    #box_user img{
        margin-top: 1em;
        width: 20%;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_main > span{
        font-size: 2.3rem;
        align-self: flex-start;
        margin-left: 2vw;
    }
    #box_main{
        display: flex;
        width: 100%;
        padding: 3vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    #box_main > span:first-child{
        font-family: 'Roboto Mono', monospace;
        color: #2f3542;
        font-size: 1.6rem;
    }
    .box_review-perfil{
        width: 90vw;
        min-height: 5em;
    
        border-radius: 8px;
    
        padding: 1em;
    
        background-color: #f1f2f6;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 839px){
    #box_user{
        padding-left: 0;
        display: flex;
        background-color: #2ecc71;
    }
    #box_user span{
        font-size: 2rem;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_user img{
        margin-top: 1em;
        width: 20%;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_main > span{
        font-size: 2.3rem;
        align-self: flex-start;
        margin-left: 2vw;
    }
    #box_main{
        display: flex;
        width: 100%;
        padding: 3vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .box_review-perfil{
        width: 90vw;
        min-height: 8em;
    
        border-radius: 8px;
    
        padding: 1em;
    
        background-color: #f1f2f6;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #box_main a, #span_produto{
        font-family: 'Roboto Mono', monospace;
        color: #2f3542;
        font-size: 1.7rem;
        font-weight: bold;
        align-self: center;
    }
    #box_main a {
        display: flex;
        width: 100%;
    }
    #span_produto{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1024px){
    #box_user{
        padding-left: 0;
        display: flex;
        background-color: #2ecc71;
    }
    #box_user span{
        font-size: 2rem;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_user img{
        margin-top: 1em;
        width: 20%;
        align-self: flex-start;
        margin-left: 5vw;
    }
    #box_main > span{
        font-size: 2.3rem;
        align-self: flex-start;
        margin-left: 2vw;
    }
    #box_main{
        display: flex;
        width: 100%;
        padding: 3vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .box_review-perfil{
        width: 90vw;
        min-height: 8em;
    
        border-radius: 8px;
    
        padding: 1em;
    
        background-color: #f1f2f6;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #box_main a, #span_produto{
        font-family: 'Roboto Mono', monospace;
        color: #2f3542;
        font-weight: bold;
        align-self: center;
    }
    #box_main a {
        font-size: 2rem;
        width: 80%;
    }
    #span_produto{
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1025px){
    #box_user{
        padding-left: 0;
        display: flex;
        background-color: #2ecc71;
    }
    #box_user span{
        font-size: 1.5rem;
        align-self: flex-start;
        margin-left: 25vw;
    }
    #box_user img{
        margin-top: 1em;
        align-self: flex-start;
        margin-left: 25vw;
        width: 10%;
    }
    #box_main > span{
        font-size: 1.8rem;
        align-self: flex-start;
        margin-left: 22vw;
        margin-bottom: 0;
    }

    #box_main{
        display: flex;
        width: 100%;
        padding: 3vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .box_review-perfil{
        width: 50vw;
        min-height: 8em;
    
        border-radius: 8px;
    
        padding: 1em;
    
        background-color: #f1f2f6;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #box_main a, #span_produto{
        font-family: 'Roboto Mono', monospace;
        color: #2f3542;
        font-weight: bold;
        align-self: center;
    }
    #box_main a {
        font-size: 1.5rem;
        width: 80%;
    }
    #span_produto{
        font-size: 1.3rem;
    }
}

/* PEQUENAS ANIMAÇÕES */
.box_review-perfil:hover{
    background-color: #dcdde1;
    transition: .5s;
}