<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuario/cadastro" method="post">

        <label for="nome_usuario">Nome</label>
        <input type="text" name="nome_usuario" id="">

        <label for="email_usuario">Email</label>
        <input type="email" name="email_usuario" id="">

        <label for="senha_usuario">Senha:</label>
        <input type="password" name="senha_usuario" id="">
        
        <input type="submit" value="">

        <a href="/login">Fazer login</a>
    
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- FAV-ICON -->
    <link rel="shortcut icon" href="img/userpng.png">
    <!-- ESTILOS DA PÁGINA -->
    <link rel=stylesheet href="/css/styleForms/styleLogin.css">
        <!-- ESTILOS DA PÁGINA -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="css/style_cadastro.css">

</head>

<body>
    <div id="container">

        <main>

            <section id="sec">

                <div id="in_box"></div>

                <div class="inicio_login">
                    <img src="img/userpng.png" alt="Imagem generica de usuario">
                </div>

                <form action="/usuario/cadastro" method="post" id="main_form">

                    <div class="inputs">
                        <span class="login_text">Login</span>


                        <div class="inputs-box_input">
                            <label for="nome_usuario" class="inputs-label">Nome de usuario</label>
                            <input type="text" name="nome_usuario" id="nome_usuario" class="input" 
                            required maxlength="50" minlength="8">
                        </div>

                        <div class="inputs-box_input">
                            <label for="email_usuario" class="inputs-label">Email ou nome de usuario</label>
                            <input type="text" name="email_usuario" id="user_email" class="input" 
                            maxlength="50" minlength="8" required>
                        </div>
                        
                        <div class="inputs-box_input">
                            <label for="senha_usuario" class="inputs-label">Senha</label>
                            <input type="password" name="senha_usuario" id="password-input" 
                            class="input" maxlength="15" minlength="5" required>
                        </div>

                        <!-- <div class="inputs-box_input">
                            <label for="senha_usuario" class="inputs-label">Senha</label>
                            <input type="password" name="senha_usuario" id="confirm_password" class="input" 
                            required>
                        </div> -->

                        <div class="login_components">
                            <button type="submit" class="cadastro-btn">Cadastre-se</button>
                            <span class="cadastro-span">Se você já possui uma conta</span>
                            <span><a href="/login">Login</a></span>
                        </div>

                    </div>
                </form>

            </section>

        </main>


    </div>


    <script src="js/script_cadastro.js"></script>
</body>

</html>