<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- FAV-ICON -->
    <link rel="shortcut icon" href="img/R.svg" type="image/x-icon">
    <!-- ESTILOS DA PÁGINA -->
    <link rel=stylesheet href="/css/styleForms/styleLogin.css">

</head>

<body>
    <div id="container">

        <main>

            <section id="section_login">

                <div id="in_box"></div>

                <div class="inicio_login">
                    <img src="/img/reviewer.svg" alt="logotipo da reviewer.com">
                    <h3>Crie Reviews sobre qualquer coisa.</h3>
                </div>

                <div class="inputs">

                    <form action="/usuario/login" method="post" id="main_form">
                        <span class="login_text">Login</span>

                        <div class="inputs-box_input">
                            <label for="username" class="inputs-label">Email</label>
                            <input type="text" name="username" id="user_email" class="input" required>
                        </div>

                        <div class="inputs-box_input">
                            <label for="password" class="inputs-label">Senha</label>
                            <input type="password" name="password" id="password-input" class="input" required>
                        </div>

                        <div class="login_components">
                            <button type="submit" class="login-btn">Login</button>
                            <span class="cadastro-span">Se você ainda não possui uma conta</span>
                            <button class="outra_opcao-btn"> <a href="/cadastro">Cadastre-se</a> </button>
                        </div>

                    </form>
                    <% if(message) { %>
                        <p>
                            <label class="error-msg">
                                <%= message %>
                            </label>
                        </p>
                        <% } %>
                </div>

            </section>

        </main>

    </div>


    <!-- <script src="js/script_login.js"></script> -->
</body>

</html>