<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- FAV-ICON -->
    <link rel="shortcut icon" href="img/R.svg" type="image/x-icon">
    <!-- ESTILOS DA PÁGINA -->
    <link rel=stylesheet href="/css/styleForms/styleLogin.css">
    <!-- ESTILOS DA PÁGINA -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="css/style_cadastro.css">

</head>

<body>
    <div id="container">

        <main>

            <section id="section_login">

                <div id="in_box"></div>

                <div class="inicio_login">
                    <img src="/img/reviewer.svg" alt="logotipo da reviewer.com">
                    <h3>Crie Reviews sobre qualquer coisa.</h3>
                </div>

                <div class="inputs" id="inputs-cadastro">
                    <form action="/usuario/cadastro" enctype="multipart/form-data" method="post" id="main_form">


                        <div id="pt1-cad">
                            <span class="login_text">Cadastro</span>


                            <div class="inputs-box_input">
                                <label for="nome_usuario" class="inputs-label">Nome de usuario</label>
                                <input type="text" name="nome_usuario" id="nome_usuario" class="input" required>
                            </div>

                            <div class="inputs-box_input">
                                <label for="email_usuario" class="inputs-label">Email</label>
                                <input type="email" name="email_usuario" id="user_email" class="input" required>
                            </div>

                            <div class="inputs-box_input">
                                <label for="senha_usuario" class="inputs-label">Senha</label>
                                <input type="password" name="senha_usuario" id="password-input" class="input" required>
                            </div>


                            <div class="inputs-box_input">
                                <label for="senha_usuario_confirm" class="inputs-label">Confirme sua Senha</label>
                                <input type="password" name="senha_usuario_confirm" id="confirm_password" class="input"
                                    required>
                            </div>



                            <div class="login_components">
                                <div id="avancar">Avançar</div>
                                <span class="cadastro-span">Se você já possui uma conta</span>
                                <button class="outra_opcao-btn"> <a href="/login">Fazer Login</a> </button>
                            </div>
                        </div>

                        <div id="pt2-cad">
                            <span class="login_text">Personalizar perfil</span>

                            <span>Você pode escolher uma foto para o seu perfil. (Opcional)</span>
                            <input type="file" name="file" id="foto-perfil">

                            <button type="submit" class="cadastro-btn" id="cad-btn">Cadastre-se</button>
                        </div>
                </div>
                </form>

            </section>

        </main>


    </div>


    <script src="js/scriptForms/scriptCad.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</body>

</html>