<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/new/reviews' method="post">
        <input type="text" name="titulo_review" id="review_titulo" placeholder="Titulo do Review">

        <textarea name="review" id="review" placeholder="Review" cols="30" rows="10"></textarea>

        <input type="text" name="produto" id="review_produto" placeholder="Nome do produto">

        <input type="text" name="autor" id="review_autor">

        <input type="submit" value="Postar Review">
    </form>
</body>
</html>