<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleHome/styleHome.css">
    <link rel="stylesheet" href="css/styleReview/styleReview.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Pattaya -->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/R.svg" type="image/x-icon">
</head>

<body>

    <div id="container">

        <header class="header-review">

            <div id="back_box">
                <a href="javascript:history.back()"><img src="/img/back_icon_rw.svg"
                        alt="Botão para voltar para a página inicial"></a>
                <h3>Review</h3>
            </div>

        </header>




        <div id="box_main-rw" class="review_box">

            <%# for(let i=0; i < review.length; i++){%>
                <div id="oneReview">
                    <span id="span_autor">
                        <%= review[0].autor %>
                    </span>
                    <span id="span_titulo">
                        <%= review[0].titulo_review %>
                    </span>
                    <span id="span_produto">
                        <%= review[0].tema %>
                    </span>
                    <p>
                        <%= review[0].review %>
                    </p>
                </div>
                <%# } %>



                    <!-- <div class="comentarios">
                <form action="/review/comentario" method="post">
                    <textarea name="comentario" id="coment_area" cols="30" rows="10" placeholder="Deixe seu comentario"></textarea>
                    <input type="submit" value="enviar comentario">
                </form>
                <span>Esse é meu comentário</span>
            </div> -->

        </div>

    </div>

</body>

</html>