<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>review</th>
        </tr>

            <tr>
                <td><%= review[0].id %></td>
                <td><%= review[0].titulo_review %></td>
                <td><%= review[0].review %></td>
            </tr>

    </table>
    <script src="js/scriptProdutos/scriptProdutos.js"></script>
</body>
</html>