<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styleHome/styleHome.css">
    <link rel="stylesheet" href="css/styleHome/styleError.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Pattaya -->
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/R.svg" type="image/x-icon">

</head>

<body>

    <div id="container">

        
        <header>

            <span class="logotipo"><a href="/">Reviewr.com</a></span>

        </header>


        <main>

            <section>
                <h3>Crie Reviews sobre qualquer coisa.</h3>
                <img src="img/cartoon_celular.png" alt="" class="img_lead">
            </section>

            <div id="main_error">
                <div class="msg_main">
                    <h1>404</h1>
                    <span>Não existe a página reviewr.com<%= url%></span>
                    <a href="/">Voltar</a>
                </div>
            </div>

        </main>


    </div>

</body>

</html>