*{
    box-sizing: border-box;
}
/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
} */

/* Mobile */
@media only screen and (max-width: 480px){
    .logo a{
        color: white;
        text-decoration: none;
    }     
    .review_box a{
        color: #2f3542;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        justify-self: center;
    }

    #box_main{
        margin-top: 3em;
    }

    .review_box span:nth-child(1){
        margin-top: 1em;
        font-size: 1.3rem;
        color: #2f3542;
    } 
    .review_box span:nth-child(2){
        margin-top: 1em;
        font-size: 1.6rem;
        font-weight: bolder;
    }  
    .review_box span:nth-child(3){
        font-size: 1.2rem;
        color: #2f3542;
        margin-top: .7em;
    }
    .review_box p{
        margin-top: 1.5em;
        font-size: 1.3rem;
        color: #2f3542;
    }

    #back_box{
        width: 100%;
        height: 8vh;

        background-color: #636e72;

        display: flex;
        align-items: center;
    }
    #back_box img{
        width: 30px;

        margin-left: 1em;
        margin-right: 2em;
    }
    #back_box h3{
        font-size: 1.4rem;
        font-family: 'Roboto Mono', sans-serif;;
    }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 839px){

}

/* Desktop */
@media only screen and (min-width: 840px) and (max-width: 1024px){

}

/* Telas Maiores */
@media only screen and (min-width: 1025px){
    
}